/* Stiluri globale */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evită scroll-ul pe orizontală */
}

/* Container general */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.App>div {
  position: relative;
  height:800px;
  width:700px;
}

/* Adaptează dimensiunea containerului la ecrane mici */
@media (max-width: 768px) {
  .App {
    flex-direction: column; /* Aliniere pe verticală pe ecrane mici */
  }
  .App>div {
    width:unset;
    max-width:700px;
  }
}

/* Stiluri pentru chat */

.cs-main-container {
  height: 90vh !important;
  top:5vh;
}


.MainContainer {
  width: 100%;
  height: 100%;
}

.ChatContainer {
  width: 100%;
  max-width: 100%; /* Evită dimensiuni fixe */
  height: 100%;
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.cs-message-list {
  padding:20px 0;
}



/* brand  */

.brand {
  position:fixed;
  left:50px;
  width:200px;
  text-align: center;
  top: 5vh;
}

.brand h1 {
  color:red;
}

.brand img {
  width:100%;
}

.brand>div {
  text-align:left;
  font-weight:100;
}

.brand i {
  color:red;
}

.brand a {
  color: black;
  font-weight: 100;
}


@media screen and (max-width: 1120px) {
  .brand {
    display: none;
  }
}